{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About symblog</h1>
    </header>
    <article>
        <p>
            Dhm-it Symfony blog<br>
            Created by: Saifeddine BOUZIDI<br>
            Ingénieur étude et développement<br>
        </p>
    </article>
{% endblock %}